/*Header*/
#header{

width: 360px;
height: 72px;


background: #164576;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
overflow: hidden;
}

#logo{

width: 207px;
height: 80px;
left: 12px;

}


/*Bonton menu*/
#menu{
position: absolute;
width: 46px;
height: 32px;
left: 300px;

}

input {
display: none;
}
  
label menu {
box-sizing: border-box;

width: 46px;
height: 32px;
line-height: 30px;
font-weight: bold;
text-align: center;
user-select: none;
}
/*Bonton menu*/
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
background: rgba(22, 69, 118, 0.9); ;
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(150%);
}
   
/* Estilo del boton cuando el menú está expandido*/

ul{
display: none;
margin-top:0;
padding: 0;
left: 104px;
top: 72px;
position: absolute;
}

input:checked  ~ ul{
display:block;
}
  
li {
display: flex;
flex-direction: column;
align-items: center;
width: 256px;
height: 56px;
background: rgba(22, 69, 118, 0.9);
border: 1px solid rgba(0, 0, 0, 0.19);
box-sizing: border-box;
}      
a{
font-family: Reem Kufi;

font-size: 30px;
line-height: 45px;
text-align: center;
text-decoration-line: underline;
color: white;

}               
  /*Header*/
  /*Inicio*/
#sakura1{
    position: absolute;
    width: 363px;
    height: 292px;
    left: -2px;
    top: 107px;
 }
 #fraser{
    position: absolute;
    width: 360px;
    height: 225px;
    left: 0px;
    top: 399px;
    
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
 }
 #frase{
width: 345px;
height: 225px;
left: 10px;
top: 415px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.46);
 }
 #fondo1{
    position: absolute;
width: 360px;
height: 568px;
left: 0px;
top: 72px;
box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.7);

 }
 /*inicio*/
 /*sinopsis*/
 #fondo2{
    position: absolute;
width: 360px;
height: 568px;
left: 0px;
top: 640px;
background-repeat: repeat-y;
/*background-size: cover;
background-repeat: repeat-x;
background: url(img/simbolo.png), #164576;*/
 }
#rect1{
    position: absolute;
    width: 341px;
    height: 784px;
    left: 10px;
    top: 663px;
    
background: rgba(191, 45, 50, 0.51);
}
#imgkero1{
    position: absolute;
width: 147px;
height: 111px;
left: 1px;
top: -23px;
}
#sinopsist{
    position: absolute;
width: 231px;
height: 50px;
left: 104px;
margin: 0;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
#parrafo1{
    position: absolute;
    width: 100%;
    height: 749px;
    left: -1px;
    top: 70px;
    
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    
    color: #FFFFFF;
}
/* #vermas{
    position: absolute;
    width: 222px;
    height: 58px;
    left: 59px;
    top: 804px;
background: #164576;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
} */
 /*sinopsis*/
 /*cartas*/
 #rect2{
    position: absolute;
    width: 341px;
    height: 3746.6px;
    left: 9px;
    top: 1490.4px;
    
    background: rgba(191, 45, 50, 0.51);
 }
 #imgkero2{
    position: absolute;
    width: 127px;
    height: 181px;
    left: 172px;
    top: -43px;
    
 }
